/* Подключение Tektur */
@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Regular.woff2') format('woff2'),
         url('../fonts/Tektur-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tektur';
    src: url('../fonts/Tektur-Bold.woff2') format('woff2'),
         url('../fonts/Tektur-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Применение шрифта */
body {
    font-family: 'Tektur', sans-serif;
}